In [3]:
import sqlalchemy
import pandas as pd
# import psycopg2 # драйвер для подключения к postgresql
from sqlalchemy.ext.asyncio import create_async_engine

conn = 'mssql+pymssql://rkm:UF5rrXp49IgA1$f6@msk-sql-02/RKM?charset=utf8'

engine = sqlalchemy.create_engine(conn) # создание отдельного подключения к БД

connect = engine.connect() # создаётся объект подключения к БД

inspector = sqlalchemy.inspect(engine) # анализ структуры БД
inspector.get_table_names()
inspector

df = pd.read_sql("select * from AccrualType", connect) # функция read_sql() принимает два аргумента 1 - запрос к БД, 2-й - объект подключения к БД (conntect)
df.head()

df.iloc[1:, :]

     accrual_type  accrual_id
1        НАДБАВКА           2
2           ОКЛАД           3
3          ПРЕМИЯ           4
4             ОЗП           5
5             ДЗП           6
6          Прочие           7
7  не учитывается          11
8  не учитывается          12

In [4]:
df.head()

  accrual_type  accrual_id
0  ДОГОВОР ГПХ           1
1     НАДБАВКА           2
2        ОКЛАД           3
3       ПРЕМИЯ           4
4          ОЗП           5

In [5]:
query = 'execute GetSalaryListShchepetovaGPC 9, 2024'
df = pd.read_sql(query, connect)
df

,employee_name,month_name,year_number,salary_bugget_ammount,fired
0,Бреус Данил Евгеньевич,Март,2024,28750.0,False
1,Бреус Данил Евгеньевич,Февраль,2024,28750.0,False
2,Горбатов Александр Александрович,Январь,2024,81600.0,True
3,Дескат Михаил Витальевич,Март,2024,52000.0,False
4,Дескат Михаил Витальевич,Февраль,2024,55000.0,False
...,...,...,...,...,...
61,Шелег Олег Михайлович,Февраль,2024,28750.0,False
62,Шкуратов Дмитрий Борисович,Январь,2024,63700.0,True
63,Яшин Алексей Анатольевич,Март,2024,33050.0,False
64,Яшин Алексей Анатольевич,Февраль,2024,33500.0,False
65,Яшин Алексей Анатольевич,Январь,2024,23800.0,False

In [6]:
import sqlalchemy
import pandas as pd

# import psycopg2 # драйвер для подключения к postgresql
from sqlalchemy.ext.asyncio import create_async_engine
def request(request):
    conn = 'mssql+pymssql://rkm:UF5rrXp49IgA1$f6@msk-sql-02/RKM?charset=utf8'

    engine = sqlalchemy.create_engine(conn) # создание отдельного подключения к БД

    connect = engine.connect() # создаётся объект подключения к БД

    inspector = sqlalchemy.inspect(engine) # анализ структуры БД
    inspector.get_table_names()
    inspector

    df = pd.read_sql(request, connect) # функция read_sql() принимает два аргумента 1 - запрос к БД, 2-й - объект подключения к БД (conntect)
    return  df

In [7]:
request('execute GetSalaryListShchepetovaGPC 9, 2024')

,employee_name,month_name,year_number,salary_bugget_ammount,fired
0,Бреус Данил Евгеньевич,Март,2024,28750.0,False
1,Бреус Данил Евгеньевич,Февраль,2024,28750.0,False
2,Горбатов Александр Александрович,Январь,2024,81600.0,True
3,Дескат Михаил Витальевич,Март,2024,52000.0,False
4,Дескат Михаил Витальевич,Февраль,2024,55000.0,False
...,...,...,...,...,...
61,Шелег Олег Михайлович,Февраль,2024,28750.0,False
62,Шкуратов Дмитрий Борисович,Январь,2024,63700.0,True
63,Яшин Алексей Анатольевич,Март,2024,33050.0,False
64,Яшин Алексей Анатольевич,Февраль,2024,33500.0,False
65,Яшин Алексей Анатольевич,Январь,2024,23800.0,False