In [4]:
import sqlalchemy
import psycopg2
import pandas as pd

Подключитесь к базе данных, загрузите содержимое таблицы AccrualType в DataFrame и выведите первые 6 строк на экран.

In [5]:
def request(request):
    version = 'mssql'
    driver = 'pymssql'
    user = 'rkm'
    password = 'UF5rrXp49IgA1$f6'
    server = 'msk-sql-02'
    data_base = 'RKM'
    # request = 'exec GetEmployeeRefresh 9'

    conn = f'{version}+{driver}://{user}:{password}@{server}/{data_base}?charset=utf8'

    engine = sqlalchemy.create_engine(conn) # создание отдельного подключения к БД
    connect = engine.connect() # создаётся объект подключения к БД
    df = pd.read_sql(f"{request}", connect)
    return df

request('exec GetEmployeeRefresh 2').head()

                       employee_name       tab_N
0           Анисимов Алексей Юрьевич  0000000006
1             Борисов Иван Сергеевич  0000000008
2  Виниченко Александр Александрович  0000000009
3            Есипов Виктор Сергеевич  0000000007
4          Маздюк Евгений Николаевич  0000000010

In [6]:
request('execute GetSalaryListShchepetovaGPC 9, 2024;')

,employee_name,month_name,year_number,salary_bugget_ammount,fired
0,Бреус Данил Евгеньевич,Март,2024,28750.0,False
1,Бреус Данил Евгеньевич,Февраль,2024,28750.0,False
2,Горбатов Александр Александрович,Январь,2024,81600.0,True
3,Дескат Михаил Витальевич,Март,2024,52000.0,False
4,Дескат Михаил Витальевич,Февраль,2024,55000.0,False
...,...,...,...,...,...
61,Шелег Олег Михайлович,Февраль,2024,28750.0,False
62,Шкуратов Дмитрий Борисович,Январь,2024,63700.0,True
63,Яшин Алексей Анатольевич,Март,2024,33050.0,False
64,Яшин Алексей Анатольевич,Февраль,2024,33500.0,False
65,Яшин Алексей Анатольевич,Январь,2024,23800.0,False