In [3]:
import sqlalchemy
import psycopg2
import pandas as pd

Подключитесь к базе данных, загрузите содержимое таблицы AccrualType в DataFrame и выведите первые 6 строк на экран.

In [14]:
def request(request):
    version = 'mssql'
    driver = 'pymssql'
    user = 'rkm'
    password = 'UF5rrXp49IgA1$f6'
    server = 'msk-sql-02'
    data_base = 'RKM'
    # request = 'exec GetEmployeeRefresh 9'

    conn = f'{version}+{driver}://{user}:{password}@{server}/{data_base}?charset=utf8'

    engine = sqlalchemy.create_engine(conn) # создание отдельного подключения к БД
    connect = engine.connect() # создаётся объект подключения к БД
    df = pd.read_sql(f"{request}", connect)
    return df

request('exec GetEmployeeRefresh 2').head()

                       employee_name       tab_N
0           Анисимов Алексей Юрьевич  0000000006
1             Борисов Иван Сергеевич  0000000008
2  Виниченко Александр Александрович  0000000009
3            Есипов Виктор Сергеевич  0000000007
4          Маздюк Евгений Николаевич  0000000010