Подключаем необходимые библиотеки

In [1]:
import pandas as pd

Импортируем файл

In [2]:
df = pd.read_csv('money.csv')
df.head()

         user_id        date  money
0  N4TS2T-P7YTVX  15.07.2021   1.99
1  NX9S0D-VM20W8  16.07.2021   0.99
2  QYY6FW-FKHRND  15.07.2021   0.00
3  BRWH4Y-LPGBU6  14.07.2021   0.00
4  8O317F-4ASK53  13.07.2021   0.00

Преобразовываем формат колонки в тип данных "дата" с форматом "yyyy-dd-mm"

In [6]:
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
df['date'] = pd.to_datetime(df['date'], format='%y-%m-%d')

df.head()

         user_id       date  money
0  N4TS2T-P7YTVX 2021-07-15   1.99
1  NX9S0D-VM20W8 2021-07-16   0.99
2  QYY6FW-FKHRND 2021-07-15   0.00
3  BRWH4Y-LPGBU6 2021-07-14   0.00
4  8O317F-4ASK53 2021-07-13   0.00

Получившийся результат сохраняем под новым названием

In [ ]:
df.to_csv('money_modified.csv', index_label='index')