Подключаем необходимые библиотеки

In [1]:
import pandas as pd

Импортируем файлы

In [38]:
money_df = pd.read_csv('money.csv')
cash_df = pd.read_csv('cash.csv')
platforms_df = pd.read_csv('platforms.csv')
abgroup_df = pd.read_csv('ABgroup.csv')
cheaters_df = pd.read_csv('Cheaters.csv')

# money_df.head()

Преобразовываем формат колонки в тип данных "дата" с форматом "yyyy-dd-mm"

In [39]:
#money
money_df['date'] = pd.to_datetime(money_df['date'], format='%d.%m.%Y')
money_df['date'] = pd.to_datetime(money_df['date'], format='%y-%m-%d')

#cash
cash_df['date'] = pd.to_datetime(cash_df['date'], format='%d.%m.%Y')
cash_df['date'] = pd.to_datetime(cash_df['date'], format='%y-%m-%d')

# cash_df.head()

Получившийся результат сохраняем под новыми названиями

In [4]:
money_df.to_csv('money_modified.csv', index=False)
cash_df.to_csv('cash_modified.csv', index=False)

trimmed df

In [4]:
# #беру 1000 строк для быстроты
#
# trimmed_money_df = money_df.head(1000)
# trimmed_cash_df = cash_df.head(1000)
# trimmed_platforms_df = platforms_df.head(1000)
# trimmed_abgroup_df = abgroup_df.head(1000)
# trimmed_cheaters_df = cheaters_df.head(1000)

In [21]:
# # Устанавливаем колонку 'user_id' в качестве индекса
#
# trimmed_money_df.set_index('user_id', inplace=True)
# trimmed_cash_df.set_index('user_id', inplace=True)
# trimmed_platforms_df.set_index('user_id', inplace=True)
# trimmed_abgroup_df.set_index('user_id', inplace=True)
# trimmed_cheaters_df.set_index('user_id', inplace=True)

In [29]:
# # Устанавливаем колонку 'user_id' в качестве индекса
#
# money_df.set_index('user_id', inplace=True)
# cash_df.set_index('user_id', inplace=True)
# platforms_df.set_index('user_id', inplace=True)
# abgroup_df.set_index('user_id', inplace=True)
# cheaters_df.set_index('user_id', inplace=True)

In [40]:
money_df['user_id'].nunique()

1080000

In [41]:
platforms_df['user_id'].nunique()

1080000

In [44]:
cheaters_df['user_id'].nunique()

1080000

In [45]:
abgroup_df['user_id'].nunique()

1080000

In [46]:
cash_df['user_id'].nunique()

1080000

In [47]:
cheaters_df

               user_id  cheaters
0        TWLWB9-L19SYJ         0
1        SD0L4U-1JG4WN         0
2        QZVG35-P8JKNU         0
3        S2VBV4-ZKBHI6         0
4        DDGKMQ-45SP8R         0
...                ...       ...
8639995  YEO1HH-AGE5U0         0
8639996  E0ZSN1-XK2WFG         0
8639997  8Q5R71-0BMJDP         0
8639998  KX15V0-ZJSW8T         0
8639999  HM5I1V-A0OQK8         0

[8640000 rows x 2 columns]

In [48]:
result = cheaters_df.loc[cheaters_df['cheaters'] == 1]
result

               user_id  cheaters
65       9WIF40-OW5GLD         1
778      VIHC8Q-YTCOYH         1
4060     1JBTR8-YEDSAI         1
5520     KK8ZQ3-ZZVKN4         1
6631     IC2BED-VNNI2F         1
...                ...       ...
8630371  5I00P2-5EC43C         1
8630756  BMML50-JSSXDT         1
8634037  NT0YYQ-5WA319         1
8636269  0MMIPN-E23IZG         1
8639572  PBHVDI-773JYD         1

[2824 rows x 2 columns]

In [49]:
result['user_id'].nunique()

353

In [50]:
result1 = cheaters_df.loc[cheaters_df['cheaters'] == 0]
result1['user_id'].nunique()

1079647

In [42]:
money_df['user_id'].duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
8639995     True
8639996     True
8639997     True
8639998     True
8639999     True
Name: user_id, Length: 8640000, dtype: bool

In [34]:
complex_df = pd.merge(money_df,platforms_df, on='user_id')

# complex_df = pd.concat([money_df, platforms_df])

# complex_df = money_df.join(platforms_df)

complex_df

                    date  money platform
user_id
N4TS2T-P7YTVX 2021-07-15   1.99      PS4
N4TS2T-P7YTVX 2021-07-15   1.99      PS4
N4TS2T-P7YTVX 2021-07-15   1.99      PS4
N4TS2T-P7YTVX 2021-07-15   1.99      PS4
N4TS2T-P7YTVX 2021-07-15   1.99      PS4
...                  ...    ...      ...
MQBLE4-6ESC3O 2021-07-14   0.00      PS4
MQBLE4-6ESC3O 2021-07-14   0.00      PS4
MQBLE4-6ESC3O 2021-07-14   0.00      PS4
MQBLE4-6ESC3O 2021-07-14   0.00      PS4
MQBLE4-6ESC3O 2021-07-14   0.00      PS4

[69120000 rows x 3 columns]

In [43]:
complex_df.drop_duplicates(inplace=True)
complex_df

                    date  money platform
user_id
N4TS2T-P7YTVX 2021-07-15   1.99      PS4
NX9S0D-VM20W8 2021-07-16   0.99     XBox
QYY6FW-FKHRND 2021-07-15   0.00     XBox
BRWH4Y-LPGBU6 2021-07-14   0.00       PC
8O317F-4ASK53 2021-07-13   0.00       PC
...                  ...    ...      ...
1D735M-0SLBS2 2021-07-17   8.99     XBox
66TR2H-T9GSF4 2021-07-17   8.99       PC
ENXRYI-LNI5DS 2021-07-17   8.99      PS4
DZPZIH-P3SAE6 2021-07-17   9.99     XBox
FAT6FO-6H6A8Q 2021-07-17   9.99      PS4

[95 rows x 3 columns]

In [31]:
money_df

                    date  money
user_id
N4TS2T-P7YTVX 2021-07-15   1.99
NX9S0D-VM20W8 2021-07-16   0.99
QYY6FW-FKHRND 2021-07-15   0.00
BRWH4Y-LPGBU6 2021-07-14   0.00
8O317F-4ASK53 2021-07-13   0.00
...                  ...    ...
V2QN9A-KTAB7P 2021-07-15   0.00
UH5OG7-7KLM76 2021-07-14   0.99
6O1AE8-8AEE55 2021-07-17   0.99
33AD2T-TNRERG 2021-07-12   0.99
MQBLE4-6ESC3O 2021-07-14   0.00

[8640000 rows x 2 columns]

In [32]:
platforms_df

              platform
user_id
NHFL0F-Y90OSH     XBox
MVPNHS-PBHB8S     XBox
1UWMRN-8NVCLI       PC
EHO5II-03X9PU      PS4
7C5ZAE-D1NCY9     XBox
...                ...
EYD4LR-O1YYTX      PS4
J0MR5W-GAGC66     XBox
Z0EL54-J3BZC4      PS4
B5FT8W-AR75PV       PC
9PL6ZA-40IW97       PC

[8640000 rows x 1 columns]

In [68]:
#траты внутриигровой валюты со значением больше 20 000

big_currency_turnover = cash_df.loc[cash_df['cash'] > 20_000]
big_currency_turnover

               user_id       date   cash
2479     XJY616-M8DC3R 2021-07-16  36450
8078     6SB9PI-2E3XBQ 2021-07-13  37500
11737    GP90LE-1HZR7A 2021-07-12  28800
11987    ENCOEV-XMFCCQ 2021-07-11  35100
14491    CCBTD8-1GIY07 2021-07-10  51000
...                ...        ...    ...
8623622  AP0XVN-ZOHES9 2021-07-11  33600
8624990  I2Q9S8-ICKVEQ 2021-07-11  31500
8626034  HPYNM5-QNNBDJ 2021-07-15  39150
8629874  YAB3W3-LEMACG 2021-07-14  22050
8634330  ZQDH19-8TSYHQ 2021-07-12  43500

[2410 rows x 3 columns]

In [61]:
#список известных читеров

old_cheater_list = cheaters_df.loc[cheaters_df['cheaters'] == 1]
old_cheater_list['user_id'].nunique()
old_cheater_list

               user_id  cheaters
65       9WIF40-OW5GLD         1
778      VIHC8Q-YTCOYH         1
4060     1JBTR8-YEDSAI         1
5520     KK8ZQ3-ZZVKN4         1
6631     IC2BED-VNNI2F         1
...                ...       ...
8630371  5I00P2-5EC43C         1
8630756  BMML50-JSSXDT         1
8634037  NT0YYQ-5WA319         1
8636269  0MMIPN-E23IZG         1
8639572  PBHVDI-773JYD         1

[2824 rows x 2 columns]

In [70]:
# Выбираем только те строки из колонки user_id в big_currency_turnover, которых нет в колонке user_id в cheater_list
#потенциальные читеры

potential_cheater_list = big_currency_turnover[~big_currency_turnover['user_id'].isin(old_cheater_list['user_id'])]
potential_cheater_list

               user_id       date   cash
2479     XJY616-M8DC3R 2021-07-16  36450
11737    GP90LE-1HZR7A 2021-07-12  28800
14491    CCBTD8-1GIY07 2021-07-10  51000
23587    4BD9PQ-TPSMQZ 2021-07-12  23200
30312    PKWLRV-JY4IJB 2021-07-12  24150
...                ...        ...    ...
8589033  KKIYYP-YIB7V3 2021-07-15  28600
8598759  C1E008-LJPU6O 2021-07-17  45000
8602311  F35CFN-CGKDDG 2021-07-12  23100
8609612  8FLLFI-3WMAWD 2021-07-14  22950
8622480  K2TMO3-SK1DC3 2021-07-14  35700

[1203 rows x 3 columns]

In [64]:
#список тех, кто совершал платежи

payers_list = money_df.loc[money_df['money'] > 0]
payers_list['user_id'].nunique()
payers_list

               user_id       date  money
0        N4TS2T-P7YTVX 2021-07-15   1.99
1        NX9S0D-VM20W8 2021-07-16   0.99
6        T5NOKM-KNU5HK 2021-07-10   0.99
8        OUQR3L-T2NKCS 2021-07-16   0.99
12       UJ824U-H3ZF3D 2021-07-16   0.99
...                ...        ...    ...
8639993  VQZMKP-DU39CM 2021-07-12   1.99
8639994  MS6VJZ-QWADX0 2021-07-15   0.99
8639996  UH5OG7-7KLM76 2021-07-14   0.99
8639997  6O1AE8-8AEE55 2021-07-17   0.99
8639998  33AD2T-TNRERG 2021-07-12   0.99

[5013603 rows x 3 columns]

In [ ]:
#список тех у кого большое количество игровых денег, но они не совершали покупку игровой валюты

new_cheater_list = big_currency_turnover[~big_currency_turnover['user_id'].isin(old_cheater_list['user_id'])]
new_cheater_list