In [2]:
import pandas as pd
from random import randint
from faker import Faker

In [4]:
fake = Faker()
numbers = [randint(-50, 50) for i in range(15)]
names = [fake.name() for i in range(15)]

In [5]:
a = pd.Series(numbers)

In [13]:
a.sort_values(ascending=False, inplace=True)

In [14]:
a

5     50
12    48
2     35
14    35
1     30
13    30
10    28
7     20
3     17
8     12
9     -6
11    -8
0    -21
6    -29
4    -46
dtype: int64

In [15]:
a.sort_index()

0    -21
1     30
2     35
3     17
4    -46
5     50
6    -29
7     20
8     12
9     -6
10    28
11    -8
12    48
13    30
14    35
dtype: int64

In [16]:
a

5     50
12    48
2     35
14    35
1     30
13    30
10    28
7     20
3     17
8     12
9     -6
11    -8
0    -21
6    -29
4    -46
dtype: int64

In [17]:
a.sort_index(inplace=True)
a

0    -21
1     30
2     35
3     17
4    -46
5     50
6    -29
7     20
8     12
9     -6
10    28
11    -8
12    48
13    30
14    35
dtype: int64

In [18]:
b = pd.Series(numbers, index=names)
b

David Wells        -21
Aaron Sims          30
Kristy Lawrence     35
Aaron Ramirez       17
Linda Liu          -46
Christina Hester    50
Nicholas Mccall    -29
Jared Williams      20
Joshua Barajas      12
William Vaughn      -6
Dustin Cochran      28
Lisa Wheeler        -8
Matthew Taylor      48
Wanda Stone         30
Joseph Smith        35
dtype: int64

In [21]:
b.sort_index(inplace=True)
b

Aaron Ramirez       17
Aaron Sims          30
Christina Hester    50
David Wells        -21
Dustin Cochran      28
Jared Williams      20
Joseph Smith        35
Joshua Barajas      12
Kristy Lawrence     35
Linda Liu          -46
Lisa Wheeler        -8
Matthew Taylor      48
Nicholas Mccall    -29
Wanda Stone         30
William Vaughn      -6
dtype: int64

In [22]:
fake.date()

'2011-04-13'

In [23]:
dates = [fake.date() for i in range(15)]

In [24]:
dates

['1975-12-03',
 '1988-07-05',
 '1982-08-12',
 '1993-05-10',
 '1991-09-14',
 '2020-01-21',
 '1978-02-14',
 '2024-03-12',
 '2014-01-22',
 '2010-06-03',
 '1974-09-28',
 '2006-12-17',
 '2004-04-07',
 '1995-11-08',
 '2016-10-07']

In [25]:
c = pd.Series(dates)
c

0     1975-12-03
1     1988-07-05
2     1982-08-12
3     1993-05-10
4     1991-09-14
5     2020-01-21
6     1978-02-14
7     2024-03-12
8     2014-01-22
9     2010-06-03
10    1974-09-28
11    2006-12-17
12    2004-04-07
13    1995-11-08
14    2016-10-07
dtype: object

In [26]:
c.sort_values()

10    1974-09-28
0     1975-12-03
6     1978-02-14
2     1982-08-12
1     1988-07-05
4     1991-09-14
3     1993-05-10
13    1995-11-08
12    2004-04-07
11    2006-12-17
9     2010-06-03
8     2014-01-22
14    2016-10-07
5     2020-01-21
7     2024-03-12
dtype: object

In [27]:
c.sort_values(ascending=False)

7     2024-03-12
5     2020-01-21
14    2016-10-07
8     2014-01-22
9     2010-06-03
11    2006-12-17
12    2004-04-07
13    1995-11-08
3     1993-05-10
4     1991-09-14
1     1988-07-05
2     1982-08-12
6     1978-02-14
0     1975-12-03
10    1974-09-28
dtype: object

In [45]:
b

Aaron Ramirez       17
Aaron Sims          30
Christina Hester    50
David Wells        -21
Dustin Cochran      28
Jared Williams      20
Joseph Smith        35
Joshua Barajas      12
Kristy Lawrence     35
Linda Liu          -46
Lisa Wheeler        -8
Matthew Taylor      48
Nicholas Mccall    -29
Wanda Stone         30
William Vaughn      -6
dtype: int64

In [51]:
d = [1, 1, 1, 2, 2, 2, 2, 3, 5, 5, 5, 5, 5, 5, 5 ]
e = pd.Series(d)
e

0     1
1     1
2     1
3     2
4     2
5     2
6     2
7     3
8     5
9     5
10    5
11    5
12    5
13    5
14    5
dtype: int64

In [52]:
e.value_counts()

5    7
2    4
1    3
3    1
Name: count, dtype: int64