In [19]:
import pandas as pd
from xlwings import load
from xlwings import view

In [20]:
df = pd.DataFrame(data={'one':[0, 1, 2, 3, 4, 5],
                        'two':[6, 7, 8, 9, 10, 11]})
df

   one  two
0    0    6
1    1    7
2    2    8
3    3    9
4    4   10
5    5   11

Транслировать DataFrame в Excel

In [21]:
view(df)

In [22]:
df

   one  two
0    0    6
1    1    7
2    2    8
3    3    9
4    4   10
5    5   11

Трансляция данных из активного листа excel в Data Frame

In [30]:
load().head()

,month_name,year_number,salary_budget_ammount,fired
employee_name,,,,
Аверкина Ольга Викторовна,Август,2025.0,140000.00,False
Агеева Лада Артемовна,Август,2025.0,145000.00,False
Адыкаев Чингиз Улугбекович,Август,2025.0,106543.34,False
Аккуратов Вадим Евгеньевич,Август,2025.0,290000.00,False
Аникеев Никита Сергеевич,Август,2025.0,138000.00,False