In [19]:
import pandas as pd
from xlwings import load
from xlwings import view

In [20]:
df = pd.DataFrame(data={'one':[0, 1, 2, 3, 4, 5],
                        'two':[6, 7, 8, 9, 10, 11]})
df

   one  two
0    0    6
1    1    7
2    2    8
3    3    9
4    4   10
5    5   11

Транслировать DataFrame в Excel

In [21]:
view(df)

In [22]:
df

   one  two
0    0    6
1    1    7
2    2    8
3    3    9
4    4   10
5    5   11

In [24]:
load()

,"Выполнение, %",ФОТ,Премия,Уволен,ФОТ_ГПХ,ГПХ,PK,Город
ФИО Полное,,,,,,,,
Адыкаев Чингиз Улугбекович,1.0,106543.34,47945.0,False,0.0,None,РК,Новосибирск
Аккуратов Вадим Евгеньевич,1.0,290000.00,130500.0,False,0.0,None,None,Москва
Бабушкин Алексей Алексеевич,1.0,125000.00,56250.0,False,0.0,None,РК,Новосибирск
Байдельдинова Айнагуль Джабраиловна,1.0,110000.00,49500.0,False,0.0,None,None,Москва
Баранников Артём Алексеевич,1.0,75200.00,33840.0,False,0.0,None,None,Москва
...,...,...,...,...,...,...,...,...
Шеремеев Максим Игоревич,1.0,260000.00,117000.0,False,0.0,None,None,Москва
Ширкунов Евгений Юрьевич,1.0,250000.00,112500.0,False,0.0,None,None,Москва
Шкуратов Дмитрий Борисович,1.0,77675.59,34954.0,False,0.0,None,РК,Москва
Шубенков Никита Викторович,1.0,210000.00,94500.0,False,0.0,None,None,Москва
Щепетова Анастасия Викторовна,1.0,140000.00,63000.0,False,0.0,None,None,Москва