In [255]:
import pandas as pd
import sqlalchemy

In [256]:
data = pd.read_excel('D:/Список сотрудников 11.04.2024=выплаты(1).xls', dtype={'Таб. номер': str})

In [257]:
data

,Индикатор ошибки,Имя,Таб. номер,В структуре предприятия,Должность по штатному расписанию,ФИО youtrack,%,з/п пример,выплата,ФИО YT,Табель YT,Совпд
0,0,Аверкина Ольга Викторовна,0000000411,Advanced Monitoring Moscow,Младший разработчик /Направление разработки/,NaN,NaN,110000,0,NaN,NaN,False
1,0,Агеева Лада Артемовна,0000000406,Advanced Monitoring Moscow,Системный аналитик /Направление аналитики/,NaN,NaN,110000,0,NaN,NaN,False
2,0,Адыкаев Чингиз Улугбекович (Новосибирск),0000000270,Advanced Monitoring Novosibirsk,Старший специалист /Отдел разработки и эксплуа...,Адыкаев Чингиз Улугбекович_270,100.0,110000,49500,Адыкаев Чингиз Улугбекович,270.0,True
3,0,Аккуратов Вадим Евгеньевич,0000000222,Advanced Monitoring Moscow,Старший разработчик /Направление разработки/,Аккуратов Вадим Евгеньевич_222,100.0,110000,49500,Аккуратов Вадим Евгеньевич,222.0,True
4,0,Аникеев Никита Сергеевич (Владивосток),0000000381,Advanced Monitoring Vladivostok,Исследователь /Центр мониторинга компьютерных ...,NaN,NaN,110000,0,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...
155,0,Шкуратов Дмитрий Борисович (Новосибирск),0000000390,Advanced Monitoring Novosibirsk,Специалист /Отдел разработки и эксплуатации си...,Шкуратов Дмитрий Борисович_390,100.0,110000,49500,Шкуратов Дмитрий Борисович,390.0,True
156,0,Шубенков Никита Викторович,0000000365,Advanced Monitoring Moscow,Руководитель направления /Отдел внедрения и со...,Шубенков Никита Викторович_365,100.0,110000,49500,Шубенков Никита Викторович,365.0,True
157,0,Шустов Илья Сергеевич,0000000407,Advanced Monitoring Moscow,Системный инженер /Отдел внедрения и сопровожд...,NaN,NaN,110000,0,NaN,NaN,False
158,0,Щепетова Анастасия Викторовна,0000000228,Advanced Monitoring Moscow,Руководитель направления кадрового администрир...,Щепетова Анастасия Викторовна_228,0.0,110000,0,Щепетова Анастасия Викторовна,228.0,True
159,0,Яшин Алексей Анатольевич (ДГПХ Пенза),0000000308,NaN,NaN,NaN,NaN,110000,0,NaN,NaN,False

In [258]:
data = data.rename_axis(index='index')
data

,Индикатор ошибки,Имя,Таб. номер,В структуре предприятия,Должность по штатному расписанию,ФИО youtrack,%,з/п пример,выплата,ФИО YT,Табель YT,Совпд
index,,,,,,,,,,,,
0,0,Аверкина Ольга Викторовна,0000000411,Advanced Monitoring Moscow,Младший разработчик /Направление разработки/,NaN,NaN,110000,0,NaN,NaN,False
1,0,Агеева Лада Артемовна,0000000406,Advanced Monitoring Moscow,Системный аналитик /Направление аналитики/,NaN,NaN,110000,0,NaN,NaN,False
2,0,Адыкаев Чингиз Улугбекович (Новосибирск),0000000270,Advanced Monitoring Novosibirsk,Старший специалист /Отдел разработки и эксплуа...,Адыкаев Чингиз Улугбекович_270,100.0,110000,49500,Адыкаев Чингиз Улугбекович,270.0,True
3,0,Аккуратов Вадим Евгеньевич,0000000222,Advanced Monitoring Moscow,Старший разработчик /Направление разработки/,Аккуратов Вадим Евгеньевич_222,100.0,110000,49500,Аккуратов Вадим Евгеньевич,222.0,True
4,0,Аникеев Никита Сергеевич (Владивосток),0000000381,Advanced Monitoring Vladivostok,Исследователь /Центр мониторинга компьютерных ...,NaN,NaN,110000,0,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...
155,0,Шкуратов Дмитрий Борисович (Новосибирск),0000000390,Advanced Monitoring Novosibirsk,Специалист /Отдел разработки и эксплуатации си...,Шкуратов Дмитрий Борисович_390,100.0,110000,49500,Шкуратов Дмитрий Борисович,390.0,True
156,0,Шубенков Никита Викторович,0000000365,Advanced Monitoring Moscow,Руководитель направления /Отдел внедрения и со...,Шубенков Никита Викторович_365,100.0,110000,49500,Шубенков Никита Викторович,365.0,True
157,0,Шустов Илья Сергеевич,0000000407,Advanced Monitoring Moscow,Системный инженер /Отдел внедрения и сопровожд...,NaN,NaN,110000,0,NaN,NaN,False
158,0,Щепетова Анастасия Викторовна,0000000228,Advanced Monitoring Moscow,Руководитель направления кадрового администрир...,Щепетова Анастасия Викторовна_228,0.0,110000,0,Щепетова Анастасия Викторовна,228.0,True
159,0,Яшин Алексей Анатольевич (ДГПХ Пенза),0000000308,NaN,NaN,NaN,NaN,110000,0,NaN,NaN,False

In [259]:
new_data = data['Имя'].str.split(' ', expand=True)
new_data

               0          1            2              3       4
index
0       Аверкина      Ольга   Викторовна           None    None
1         Агеева       Лада    Артемовна           None    None
2        Адыкаев     Чингиз  Улугбекович  (Новосибирск)    None
3      Аккуратов      Вадим   Евгеньевич           None    None
4        Аникеев     Никита    Сергеевич  (Владивосток)    None
...          ...        ...          ...            ...     ...
155     Шкуратов    Дмитрий    Борисович  (Новосибирск)    None
156     Шубенков     Никита   Викторович           None    None
157       Шустов       Илья    Сергеевич           None    None
158     Щепетова  Анастасия   Викторовна           None    None
159         Яшин    Алексей  Анатольевич          (ДГПХ  Пенза)

[160 rows x 5 columns]

In [260]:
new_data2 = new_data[[0, 1, 2]].agg(' '.join, axis=1).rename('employee_name')
new_data2 = new_data2.rename_axis(index='index')
new_data2

# new_data2.to_excel(r'D:/123.xlsx', index=True)

index
0          Аверкина Ольга Викторовна
1              Агеева Лада Артемовна
2         Адыкаев Чингиз Улугбекович
3         Аккуратов Вадим Евгеньевич
4           Аникеев Никита Сергеевич
                   ...
155       Шкуратов Дмитрий Борисович
156       Шубенков Никита Викторович
157            Шустов Илья Сергеевич
158    Щепетова Анастасия Викторовна
159         Яшин Алексей Анатольевич
Name: employee_name, Length: 160, dtype: object

In [261]:
new_data3 = data.merge(new_data2, on='index', how='left')
new_data3['%'] = new_data3['%'].fillna(0)
new_data3

,Индикатор ошибки,Имя,Таб. номер,В структуре предприятия,Должность по штатному расписанию,ФИО youtrack,%,з/п пример,выплата,ФИО YT,Табель YT,Совпд,employee_name
index,,,,,,,,,,,,,
0,0,Аверкина Ольга Викторовна,0000000411,Advanced Monitoring Moscow,Младший разработчик /Направление разработки/,NaN,0.0,110000,0,NaN,NaN,False,Аверкина Ольга Викторовна
1,0,Агеева Лада Артемовна,0000000406,Advanced Monitoring Moscow,Системный аналитик /Направление аналитики/,NaN,0.0,110000,0,NaN,NaN,False,Агеева Лада Артемовна
2,0,Адыкаев Чингиз Улугбекович (Новосибирск),0000000270,Advanced Monitoring Novosibirsk,Старший специалист /Отдел разработки и эксплуа...,Адыкаев Чингиз Улугбекович_270,100.0,110000,49500,Адыкаев Чингиз Улугбекович,270.0,True,Адыкаев Чингиз Улугбекович
3,0,Аккуратов Вадим Евгеньевич,0000000222,Advanced Monitoring Moscow,Старший разработчик /Направление разработки/,Аккуратов Вадим Евгеньевич_222,100.0,110000,49500,Аккуратов Вадим Евгеньевич,222.0,True,Аккуратов Вадим Евгеньевич
4,0,Аникеев Никита Сергеевич (Владивосток),0000000381,Advanced Monitoring Vladivostok,Исследователь /Центр мониторинга компьютерных ...,NaN,0.0,110000,0,NaN,NaN,False,Аникеев Никита Сергеевич
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,0,Шкуратов Дмитрий Борисович (Новосибирск),0000000390,Advanced Monitoring Novosibirsk,Специалист /Отдел разработки и эксплуатации си...,Шкуратов Дмитрий Борисович_390,100.0,110000,49500,Шкуратов Дмитрий Борисович,390.0,True,Шкуратов Дмитрий Борисович
156,0,Шубенков Никита Викторович,0000000365,Advanced Monitoring Moscow,Руководитель направления /Отдел внедрения и со...,Шубенков Никита Викторович_365,100.0,110000,49500,Шубенков Никита Викторович,365.0,True,Шубенков Никита Викторович
157,0,Шустов Илья Сергеевич,0000000407,Advanced Monitoring Moscow,Системный инженер /Отдел внедрения и сопровожд...,NaN,0.0,110000,0,NaN,NaN,False,Шустов Илья Сергеевич
158,0,Щепетова Анастасия Викторовна,0000000228,Advanced Monitoring Moscow,Руководитель направления кадрового администрир...,Щепетова Анастасия Викторовна_228,0.0,110000,0,Щепетова Анастасия Викторовна,228.0,True,Щепетова Анастасия Викторовна
159,0,Яшин Алексей Анатольевич (ДГПХ Пенза),0000000308,NaN,NaN,NaN,0.0,110000,0,NaN,NaN,False,Яшин Алексей Анатольевич

In [262]:
final_data = new_data3[['employee_name', 'Имя', '%', 'Таб. номер']]
final_data

,employee_name,Имя,%,Таб. номер
index,,,,
0,Аверкина Ольга Викторовна,Аверкина Ольга Викторовна,0.0,0000000411
1,Агеева Лада Артемовна,Агеева Лада Артемовна,0.0,0000000406
2,Адыкаев Чингиз Улугбекович,Адыкаев Чингиз Улугбекович (Новосибирск),100.0,0000000270
3,Аккуратов Вадим Евгеньевич,Аккуратов Вадим Евгеньевич,100.0,0000000222
4,Аникеев Никита Сергеевич,Аникеев Никита Сергеевич (Владивосток),0.0,0000000381
...,...,...,...,...
155,Шкуратов Дмитрий Борисович,Шкуратов Дмитрий Борисович (Новосибирск),100.0,0000000390
156,Шубенков Никита Викторович,Шубенков Никита Викторович,100.0,0000000365
157,Шустов Илья Сергеевич,Шустов Илья Сергеевич,0.0,0000000407
158,Щепетова Анастасия Викторовна,Щепетова Анастасия Викторовна,0.0,0000000228
159,Яшин Алексей Анатольевич,Яшин Алексей Анатольевич (ДГПХ Пенза),0.0,0000000308

In [263]:
final_data.to_excel(r'D:/123.xlsx', index=True)

In [264]:
data = pd.read_excel('D:/Список сотрудников 11.04.2024=выплаты(1).xls', dtype={'Таб. номер': str})
data['%'] = data['%'].fillna(0)
data['employee_name'] = data['Имя'].apply(lambda x: x.split()[0]) + ' ' + data['Имя'].apply(
    lambda x: x.split()[1]) + ' ' + data[
                            'Имя'].apply(lambda x: x.split()[2])

# data.to_excel(r'D:/123.xlsx', index=True)

final_data = data[['employee_name', '%', 'Таб. номер']]
final_data
# final_data.to_excel(r'D:/123.xlsx', index=False)

                     employee_name      %  Таб. номер
0        Аверкина Ольга Викторовна    0.0  0000000411
1            Агеева Лада Артемовна    0.0  0000000406
2       Адыкаев Чингиз Улугбекович  100.0  0000000270
3       Аккуратов Вадим Евгеньевич  100.0  0000000222
4         Аникеев Никита Сергеевич    0.0  0000000381
..                             ...    ...         ...
155     Шкуратов Дмитрий Борисович  100.0  0000000390
156     Шубенков Никита Викторович  100.0  0000000365
157          Шустов Илья Сергеевич    0.0  0000000407
158  Щепетова Анастасия Викторовна    0.0  0000000228
159       Яшин Алексей Анатольевич    0.0  0000000308

[160 rows x 3 columns]

In [266]:
def request(request):
    version = 'mssql'
    driver = 'pymssql'
    user = 'rkm_ro'
    password = 'ip%U1PO7C$Zb'
    server = 'msk-sql-02'
    data_base = 'RKM'
    # request = 'exec GetEmployeeRefresh 9'

    conn = f'{version}+{driver}://{user}:{password}@{server}/{data_base}?charset=utf8'

    engine = sqlalchemy.create_engine(conn)  # создание отдельного подключения к БД
    connect = engine.connect()  # создаётся объект подключения к БД
    df = pd.read_sql(f"{request}", connect)
    return df


result = request('execute GetSalaryListShchepetovaAlt 4, 2024, 9;')
query = pd.DataFrame(result)
query

,employee_name,month_name,year_number,salary_budget_ammount,fired
0,Аверкина Ольга Викторовна,Апрель,2024,140000.00,False
1,Агеева Лада Артемовна,Апрель,2024,145000.00,False
2,Адыкаев Чингиз Улугбекович,Апрель,2024,106543.34,False
3,Аккуратов Вадим Евгеньевич,Апрель,2024,290000.00,False
4,Аникеев Никита Сергеевич,Апрель,2024,138000.00,False
...,...,...,...,...,...
134,Ширкунов Евгений Юрьевич,Апрель,2024,250000.00,False
135,Шкуратов Дмитрий Борисович,Апрель,2024,77675.59,False
136,Шубенков Никита Викторович,Апрель,2024,210000.00,False
137,Шустов Илья Сергеевич,Апрель,2024,170000.00,False
138,Щепетова Анастасия Викторовна,Апрель,2024,140000.00,False

In [267]:
new_data = final_data.merge(query, on='employee_name', how='left')
new_data = new_data[['employee_name', '%', 'Таб. номер', 'salary_budget_ammount']]
new_data
# new_data.info()

                     employee_name      %  Таб. номер  salary_budget_ammount
0        Аверкина Ольга Викторовна    0.0  0000000411              140000.00
1            Агеева Лада Артемовна    0.0  0000000406              145000.00
2       Адыкаев Чингиз Улугбекович  100.0  0000000270              106543.34
3       Аккуратов Вадим Евгеньевич  100.0  0000000222              290000.00
4         Аникеев Никита Сергеевич    0.0  0000000381              138000.00
..                             ...    ...         ...                    ...
155     Шкуратов Дмитрий Борисович  100.0  0000000390               77675.59
156     Шубенков Никита Викторович  100.0  0000000365              210000.00
157          Шустов Илья Сергеевич    0.0  0000000407              170000.00
158  Щепетова Анастасия Викторовна    0.0  0000000228              140000.00
159       Яшин Алексей Анатольевич    0.0  0000000308                    NaN

[160 rows x 4 columns]

In [268]:
new_data['prize'] = new_data.apply(lambda row: round(row['%'] * row['salary_budget_ammount'] * 0.45 / 100, 0), axis=1)
new_data

,employee_name,%,Таб. номер,salary_budget_ammount,prize
0,Аверкина Ольга Викторовна,0.0,0000000411,140000.00,0.0
1,Агеева Лада Артемовна,0.0,0000000406,145000.00,0.0
2,Адыкаев Чингиз Улугбекович,100.0,0000000270,106543.34,47945.0
3,Аккуратов Вадим Евгеньевич,100.0,0000000222,290000.00,130500.0
4,Аникеев Никита Сергеевич,0.0,0000000381,138000.00,0.0
...,...,...,...,...,...
155,Шкуратов Дмитрий Борисович,100.0,0000000390,77675.59,34954.0
156,Шубенков Никита Викторович,100.0,0000000365,210000.00,94500.0
157,Шустов Илья Сергеевич,0.0,0000000407,170000.00,0.0
158,Щепетова Анастасия Викторовна,0.0,0000000228,140000.00,0.0
159,Яшин Алексей Анатольевич,0.0,0000000308,NaN,NaN

In [269]:
new_data.to_excel(r'D:/123.xlsx', index=False)