In [1]:
import pandas as pd
import sqlalchemy
import datetime
from tkinter import filedialog as fd
from openpyxl import Workbook

In [2]:
# настройки
file_name = 'ДМС_ПМ.xlsx'
EmployeeChangesProcedure = 'GetEmployeeChangesRefreshAlt'
GetWorktimeProcedure = 'GetWorktimeAlt'
GetEmployeeRefreshAltДМСProcedure = 'GetEmployeeRefreshAltДМС'
GetVHIProcedure = 'GetVHI'
company_id = 9
year_id = 2023
start_date = datetime.datetime(year_id, 7, 31).date()
path = 'y:/_Свод документов для РКМ/..............Новое хранение информации/Автоматизация/ДМС/'

current_year = datetime.datetime.now().strftime('%Y')
current_month = datetime.datetime.now().strftime('%m')

In [41]:
# получение данных из sql
def request(request):
    version = 'mssql'
    driver = 'pymssql'
    user = 'rkm_ro'
    password = 'ip%U1PO7C$Zb'
    server = 'msk-sql-02'
    data_base = 'RKM'
    # request = 'exec GetEmployeeRefresh 9'

    conn = f'{version}+{driver}://{user}:{password}@{server}/{data_base}?charset=utf8'

    engine = sqlalchemy.create_engine(conn)  # создание отдельного подключения к БД
    connect = engine.connect()  # создаётся объект подключения к БД
    df = pd.read_sql(f"{request}", connect)
    return df


result = request(f'execute {EmployeeChangesProcedure} {company_id}, {year_id}, "{start_date}";')
EmployeeChanges = pd.DataFrame(result)
# EmployeeChanges

result = request(f'execute {GetWorktimeProcedure} {company_id}, {year_id};')
Worktime = pd.DataFrame(result)
# Worktime

result = request(f'execute {GetEmployeeRefreshAltДМСProcedure} {company_id}, "{start_date}";')
Employee = pd.DataFrame(result)
# Employee

result = request(f'execute {GetVHIProcedure} {company_id}, {year_id}, "{start_date}";')
VHI = pd.DataFrame(result)
# VHI

In [136]:
#вывожу уникальный список элементов столбца employee_department

EmployeeChanges = pd.DataFrame({'employee_department': EmployeeChanges.employee_department.unique()})
# EmployeeChanges

In [111]:
# #словарь
# dict1 = {'Направление аналитики':'Отдел разработки специальных технических средств',
#          'Направление по работе с персоналом':'Администрация г. Новосибирск',
#          'Направление разработки':'Отдел разработки специальных технических средств',
#          'Направление разработки (ОП г. Новосибирск)':'Отдел разработки специальных технических средств г. Новосибирск',
#          'Направление тестирования':'Отдел разработки специальных технических средств',
#          'Направление тестирования (ОП г. Новосибирск)':'Отдел разработки специальных технических средств г. Новосибирск',
#          'Проектный офис Коммерческого департамента':'Коммерческий департамент',
#          'Направление развития продуктов и услуг Коммерческого департамента':'Коммерческий департамент',
#          'Направление по работе с заказчиками Коммерческого департамента':'Коммерческий департамент',
#          'Направление маркетинга Коммерческого департамента':'Коммерческий департамент',
#          'Направление продаж Коммерческого департамента':'Коммерческий департамент'}
#
# EmployeeChanges['employee_department'] = EmployeeChanges['employee_department'].map(dict1)
# # EmployeeChanges
#
# #замена значений в столбце по словарю
# EmployeeChanges = (EmployeeChanges
#       .query("employee_department in @dict1.keys()")
#       .assign(employee_department=lambda x: x["employee_department"].replace(dict1)))
# # EmployeeChanges

In [157]:
#задаю правила замены
EmployeeChanges['employee_department'] = EmployeeChanges['employee_department'].replace(
    [
    'Направление аналитики',
    'Направление по работе с персоналом',
    'Направление разработки',
    'Направление разработки (ОП г. Новосибирск)',
    'Направление тестирования',
    'Направление тестирования (ОП г. Новосибирск)',
    'Проектный офис Коммерческого департамента',
    'Направление развития продуктов и услуг Коммерческого департамента',
    'Направление по работе с заказчиками Коммерческого департамента',
    'Направление маркетинга Коммерческого департамента',
    'Направление продаж Коммерческого департамента',
    'Направление учебно-методической поддержки / ВСИП/ г. Санкт-Петербург',
    'Направление по работе с персоналом / Администрация / ОП Томск',
    'Направление учебно-методической поддержки / ВСИП',
    'Направление моделирования атак / ВСИП/ ОП Томск',
    'Направление поддержки и развития инфраструктуры разработки / ВСИП',
    'Направление поддержки и развития инфраструктуры разработки / ВСИП/ г. Санкт-Петербург',
    'Направление поддержки и развития ИТ-инфраструктуры / ВСИП',
    'Направление поддержки и развития инфраструктуры разработки / ВСИП/ ОП Новосибирск',
    'Направление поддержки и развития инфраструктуры разработки / ВСИП/ ОП Томск',
    'Направление поддержки и развития ИТ-инфраструктуры / ВСИП / Новосибирск'
],[
    'Отдел разработки специальных технических средств',
    'Администрация г. Новосибирск',
    'Отдел разработки специальных технических средств',
    'Отдел разработки специальных технических средств г. Новосибирск',
    'Отдел разработки специальных технических средств',
    'Отдел разработки специальных технических средств г. Новосибирск',
    'Коммерческий департамент',
    'Коммерческий департамент',
    'Коммерческий департамент',
    'Коммерческий департамент',
    'Коммерческий департамент',
    'Отдел внедрения и сопровождения инфраструктурных проектов (ОП г. Санкт-Петербург)',
    'Администрация (ОП г.Томск)',
    'Отдел внедрения и сопровождения инфраструктурных проектов (ОП г. Санкт-Петербург)',
    'Отдел внедрения и сопровождения инфраструктурных проектов (ОП г. Томск)',
    'Отдел внедрения и сопровождения инфраструктурных проектов (ОП г. Томск)',
    'Отдел внедрения и сопровождения инфраструктурных проектов (ОП г. Санкт-Петербург)',
    'Отдел внедрения и сопровождения инфраструктурных проектов',
    'Отдел внедрения и сопровождения инфраструктурных проектов (ОП г. Новосибирск)',
    'Отдел внедрения и сопровождения инфраструктурных проектов (ОП г. Томск)',
    'Отдел внедрения и сопровождения инфраструктурных проектов (ОП г. Новосибирск)'
      ])
#вывожу уникальные значения
EmployeeChanges = pd.DataFrame({'employee_department': EmployeeChanges.employee_department.unique()})
#сортирую по имени
EmployeeChanges= EmployeeChanges.sort_values(by=['employee_department'], ascending=True)
#сбрасываю индексацию
EmployeeChanges.reset_index(drop=True, inplace=True)
#именую столбец с индексами
EmployeeChanges.index.name = 'index'

In [43]:
# #объединение таблицы Employee с таблицей VHI по tab_N
# df = Employee.merge(VHI[['tab_N', 'insurance_program']], on='tab_N', how='inner')

# #объединение таблицы Employee с таблицей VHI по tab_N
# df = df.merge(VHI[['tab_N', 'policy_number']], on='tab_N', how='inner')

# #второй способ
# df_merged = pd.merge(
#     Employee, VHI,
#     left_on='tab_N',
#     right_on='tab_N'
# )

#объединение таблицы Employee с таблицей VHI по tab_N
df = pd.merge(Employee, VHI, on='tab_N', how='left')

# Удаление строк, где значение в столбце 'insurance_program' содержит "НС"
df = df[~df['insurance_program'].str.contains(' НС')]

# Удаление строк, где значение в столбце 'policy_number' содержит "НС"
df = df[~df['policy_number'].str.contains('НС')]

# # Объединить DataFrame 'df' и 'VHI' по столбцу 'tab_N' и выбрать только нужные столбцы 'policy_issue_date' и 'policy_expiration_date'
# merged_df = pd.merge(df, VHI[['tab_N', 'policy_issue_date', 'policy_expiration_date']], on=['tab_N', 'employee_name', 'policy_number'], how='left')

# Employee
# df.info()
# VHI.info()

# Удаление столбца "employee_name_y"
df = df.drop(columns=['employee_name_y'])

# Переименование столбца "employee_name_x" в "employee_name"
df = df.rename(columns={'employee_name_x': 'employee_name'})

#сбрасываю индексацию
df.reset_index(drop=True, inplace=True)
#именую столбец с индексами
df.index.name = 'index'

df

,employee_name,tab_N,insurance_program,policy_issue_date,policy_expiration_date,employer_cost,employee_cost,policy_number,employee_insurance,year,Дата открепления,Дата увольнения,relative's_insurance,relative
index,,,,,,,,,,,,,,
0,Адыкаев Чингиз Улугбекович,0000000270,АЛЬФА 2023 НОВОСИБИРСК,2023-08-01,2024-07-31,17000.0,0.0,66579586,False,2023,,,False,None
1,Артёмов Виктор Романович,0000000170,АЛЬФА 2023 НОВОСИБИРСК,2023-08-01,2024-07-31,17000.0,0.0,66579578,False,2023,2024-02-27,2024-02-09,False,None
2,Бабушкин Алексей Алексеевич,0000000223,АЛЬФА 2023 НОВОСИБИРСК,2023-08-01,2024-07-31,17000.0,0.0,66579569,False,2023,,,False,None
3,Баринова Яна Вячеславовна,0000000334,АЛЬФА 2023 САНКТ-ПЕТЕРБУРГ,2023-10-20,2024-07-31,25000.0,0.0,66924454,False,2023,,,False,None
4,Бериков Алексей Владимирович,0000000325,АЛЬФА 2023 НОВОСИБИРСК,2024-03-01,2024-07-31,17000.0,0.0,67314687,False,2024,,,False,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Чернов Артем Александрович,0000000281,АЛЬФА 2023 САНКТ-ПЕТЕРБУРГ,2023-08-01,2024-07-31,25000.0,0.0,66579549,False,2023,,,False,None
103,Ширкунов Евгений Юрьевич,0000000208,1 АЛЬФА 2023 МОСКВА,2023-08-01,2024-07-31,28240.0,800.0,66579579,False,2023,,,False,None
104,Шкуратов Дмитрий Борисович,0000000390,АЛЬФА 2023 НОВОСИБИРСК,2024-02-20,2024-07-31,17000.0,0.0,67308112,False,2024,,,False,None
105,Шорин Роман Вячеславович,0000000177,3 АЛЬФА 2023 МОСКВА,2023-08-01,2024-07-31,28240.0,19215.0,66579608,False,2023,2024-02-04,2024-01-29,False,None
106,Щепетова Анастасия Викторовна,0000000228,1 АЛЬФА 2023 МОСКВА,2023-08-01,2024-07-31,28240.0,0.0,66579567,False,2023,,,False,None

In [45]:
#функция
def ad_days(df,  month, year):
    # Объединение DataFrame df с значениями из Worktime по указанным условиям
    result = pd.merge(df, Worktime[(Worktime['year_number'] == year) & (Worktime['month_name'] == month)][['tab_N', 'calendar_days']],
                      on='tab_N', how='left')
    # Переименование столбца calendar_days в Август
    result = result.rename(columns={'calendar_days': month})

    return result

In [48]:
result_df = ad_days(df, 'Август', 2023)
result_df = ad_days(result_df, 'Сентябрь', 2023)
result_df = ad_days(result_df, 'Октябрь', 2023)
result_df = ad_days(result_df, 'Ноябрь', 2023)
result_df = ad_days(result_df, 'Декабрь', 2023)
result_df = ad_days(result_df, 'Январь', 2024)
result_df = ad_days(result_df, 'Февраль', 2024)
result_df = ad_days(result_df, 'Март', 2024)
result_df = ad_days(result_df, 'Апрель', 2024)
result_df = ad_days(result_df, 'Май', 2024)
result_df = ad_days(result_df, 'Июнь', 2024)
result_df = ad_days(result_df, 'Июль', 2024)

result_df

,employee_name,tab_N,insurance_program,policy_issue_date,policy_expiration_date,employer_cost,employee_cost,policy_number,employee_insurance,year,...,Октябрь,Ноябрь,Декабрь,Январь,Февраль,Март,Апрель,Май,Июнь,Июль
0,Адыкаев Чингиз Улугбекович,0000000270,АЛЬФА 2023 НОВОСИБИРСК,2023-08-01,2024-07-31,17000.0,0.0,66579586,False,2023,...,31.0,30.0,31.0,31.0,29.0,31.0,30.0,31.0,30.0,31.0
1,Артёмов Виктор Романович,0000000170,АЛЬФА 2023 НОВОСИБИРСК,2023-08-01,2024-07-31,17000.0,0.0,66579578,False,2023,...,31.0,30.0,31.0,31.0,29.0,NaN,NaN,NaN,NaN,NaN
2,Бабушкин Алексей Алексеевич,0000000223,АЛЬФА 2023 НОВОСИБИРСК,2023-08-01,2024-07-31,17000.0,0.0,66579569,False,2023,...,31.0,30.0,31.0,31.0,29.0,31.0,30.0,31.0,30.0,31.0
3,Баринова Яна Вячеславовна,0000000334,АЛЬФА 2023 САНКТ-ПЕТЕРБУРГ,2023-10-20,2024-07-31,25000.0,0.0,66924454,False,2023,...,31.0,30.0,31.0,31.0,29.0,31.0,30.0,31.0,30.0,31.0
4,Бериков Алексей Владимирович,0000000325,АЛЬФА 2023 НОВОСИБИРСК,2024-03-01,2024-07-31,17000.0,0.0,67314687,False,2024,...,31.0,30.0,31.0,31.0,29.0,31.0,30.0,31.0,30.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57750,Чернов Артем Александрович,0000000281,АЛЬФА 2023 САНКТ-ПЕТЕРБУРГ,2023-08-01,2024-07-31,25000.0,0.0,66579549,False,2023,...,31.0,30.0,31.0,31.0,29.0,31.0,30.0,31.0,30.0,31.0
57751,Ширкунов Евгений Юрьевич,0000000208,1 АЛЬФА 2023 МОСКВА,2023-08-01,2024-07-31,28240.0,800.0,66579579,False,2023,...,31.0,30.0,31.0,31.0,29.0,31.0,30.0,31.0,30.0,31.0
57752,Шкуратов Дмитрий Борисович,0000000390,АЛЬФА 2023 НОВОСИБИРСК,2024-02-20,2024-07-31,17000.0,0.0,67308112,False,2024,...,NaN,NaN,NaN,NaN,29.0,31.0,30.0,31.0,30.0,31.0
57753,Шорин Роман Вячеславович,0000000177,3 АЛЬФА 2023 МОСКВА,2023-08-01,2024-07-31,28240.0,19215.0,66579608,False,2023,...,31.0,30.0,31.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
57754,Щепетова Анастасия Викторовна,0000000228,1 АЛЬФА 2023 МОСКВА,2023-08-01,2024-07-31,28240.0,0.0,66579567,False,2023,...,31.0,30.0,31.0,31.0,29.0,31.0,30.0,31.0,30.0,31.0

In [58]:
# переношу последний столбец на первое место
df = query[['employee_name'] + [x for x in query.columns if x != 'employee_name']]
# df

In [ ]:
# сортирую по имени
df.sort_values(by='employee_name', ascending=False)
# df

In [49]:
# задаю формат последней колонки
df['detachment_date'] = pd.to_datetime(df['detachment_date'], format='%Y-%m-%d')
# display(df)

# df['detachment_date'] = df['detachment_date'].dt.date
# df

In [ ]:
# замена 1753-01-01 на пустое значение
df = df.replace(to_replace="1753-01-01",
           value="")
# df

In [51]:

# запись фрейма в excel
with pd.ExcelWriter(path + file_name, engine="xlsxwriter", mode='w') as writer:
    df.to_excel(writer, sheet_name='ДМС', index=False)

    #Auto adjust columns
    for column in df:
        column_width = max(df[column].astype(str).map(len).max(), len(column))
        col_idx = df.columns.get_loc(column)
        writer.sheets['ДМС'].set_column(col_idx, col_idx, column_width)

In [ ]:
# new_data.to_excel(
#     path + file_name,
#     index=False, sheet_name='Премии')