In [3]:
import pandas as pd
import sqlalchemy
import datetime
from tkinter import filedialog as fd
from openpyxl import Workbook

In [8]:
# настройки
file_name = 'award_calculation.xlsx'
procedure = 'GetEmployeeRefreshAlt'
company_id = 9

current_year = datetime.datetime.now().strftime('%Y')
current_month = datetime.datetime.now().strftime('%m')

In [10]:
# получение данных из sql
def request(request):
    version = 'mssql'
    driver = 'pymssql'
    user = 'rkm_ro'
    password = 'ip%U1PO7C$Zb'
    server = 'msk-sql-02'
    data_base = 'RKM'
    # request = 'exec GetEmployeeRefresh 9'

    conn = f'{version}+{driver}://{user}:{password}@{server}/{data_base}?charset=utf8'

    engine = sqlalchemy.create_engine(conn)  # создание отдельного подключения к БД
    connect = engine.connect()  # создаётся объект подключения к БД
    df = pd.read_sql(f"{request}", connect)
    return df


result = request(f'execute {procedure} {company_id};')
query = pd.DataFrame(result)
query

                     employee_name       tab_N
0        Аверкина Ольга Викторовна  0000000411
1            Агеева Лада Артемовна  0000000406
2       Адыкаев Чингиз Улугбекович  0000000270
3       Аккуратов Вадим Евгеньевич  0000000222
4         Аникеев Никита Сергеевич  0000000381
..                             ...         ...
157     Шкуратов Дмитрий Борисович  0000000390
158     Шубенков Никита Викторович  0000000365
159          Шустов Илья Сергеевич  0000000407
160  Щепетова Анастасия Викторовна  0000000228
161       Яшин Алексей Анатольевич  0000000308

[162 rows x 2 columns]

In [11]:
procedure = 'GetVHI'

# получение данных из sql
def request(request):
    version = 'mssql'
    driver = 'pymssql'
    user = 'rkm_ro'
    password = 'ip%U1PO7C$Zb'
    server = 'msk-sql-02'
    data_base = 'RKM'
    # request = 'exec GetEmployeeRefresh 9'

    conn = f'{version}+{driver}://{user}:{password}@{server}/{data_base}?charset=utf8'

    engine = sqlalchemy.create_engine(conn)  # создание отдельного подключения к БД
    connect = engine.connect()  # создаётся объект подключения к БД
    df = pd.read_sql(f"{request}", connect)
    return df


result = request(f'execute {procedure} {company_id}, {current_year};')
query = pd.DataFrame(result)
query

,tab_N,insurance_program,policy_issue_date,policy_expiration_date,employer_cost,employee_cost,policy_number,employee_insurance,year,detachment_date,employee_name
0,0000000325,АЛЬФА 2023 НОВОСИБИРСК,2024-03-01,2024-07-31,17000.0,0.0,67314687,False,2024,1753-01-01,Бериков Алексей Владимирович
1,0000000389,АЛЬФА 2023 НОВОСИБИРСК,2024-03-01,2024-07-31,17000.0,0.0,67314904,False,2024,1753-01-01,Горбатов Александр Александрович
2,0000000373,АЛЬФА 2023 ТОМСК,2024-03-11,2024-07-31,24000.0,0.0,67361293,False,2024,1753-01-01,Зарецкий Сергей Николаевич
3,0000000362,АЛЬФА 2023 ХАБАРОВСК,2024-01-10,2024-07-31,17000.0,0.0,67190483,False,2024,1753-01-01,Ивлев Артем Владимирович
4,0000000359,АЛЬФА 2023 САНКТ-ПЕТЕРБУРГ,2024-03-01,2024-07-31,25000.0,0.0,67303698,False,2024,1753-01-01,Колесов Александр Александрович
5,0000000368,АЛЬФА 2023 САНКТ-ПЕТЕРБУРГ,2024-04-10,2024-07-31,25000.0,0.0,67493437,False,2024,1753-01-01,Котов Егор Игоревич
6,0000000391,АЛЬФА 2023 НОВОСИБИРСК,2024-02-20,2024-07-31,17000.0,0.0,67305066,False,2024,1753-01-01,Крушницкий Денис Вячеславович
7,0000000369,1 АЛЬФА 2023 МОСКВА,2024-03-20,2024-07-31,28240.0,0.0,67369056,False,2024,1753-01-01,Кузнецов Кирилл Александрович
8,0000000387,АЛЬФА 2023 НОВОСИБИРСК,2024-02-20,2024-07-31,17000.0,0.0,67308181,False,2024,1753-01-01,Кукшеев Иван Алексеевич
9,0000000339,1 АЛЬФА 2023 МОСКВА,2024-03-20,2024-07-31,28240.0,0.0,67369058,False,2024,1753-01-01,Мелихов Георгий Михайлович
10,0000000372,1 АЛЬФА 2023 МОСКВА,2024-03-20,2024-07-31,28240.0,0.0,67369057,False,2024,1753-01-01,Насибуллин Эмиль Наилевич
11,0000000364,1 АЛЬФА 2023 МОСКВА,2024-02-13,2024-07-31,28240.0,0.0,67302118,False,2024,1753-01-01,Соловьев Артём Сергеевич
12,0000000390,АЛЬФА 2023 НОВОСИБИРСК,2024-02-20,2024-07-31,17000.0,0.0,67308112,False,2024,1753-01-01,Шкуратов Дмитрий Борисович